<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iSleep.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1302BCF1BC9B64B00FC94AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1302BE31BC9B64B00FC94AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1302BEE1BC9B64C00FC94AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
